body {
    background-image: url("../images/cork-wallet.png");
}

#profile-pic {
    max-width: 200px;
    max-height: 200px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.wrapper {
    background-color: #ffffff;
    border: #cccccc solid 2px;
    overflow: auto;
}

/* .icon {
    max-width: 5em;
    max-height: 5em;
} */

.underline {
    border-bottom: #cccccc solid 2px;
}

.heading-color {
    color: #4aaaa5;
}

.portPic {
    margin-bottom: 1em;
}

#brand-color {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 0em;
}

#submit-but {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-bottom: 1em;
}

#foot {
    background-color: #666666;
    border-top: #4aaaa5 solid 2px;
}